body {
    /* overflow: hidden; */
    max-height: 100vh;
    font-family: Bitter;
}

main {
    background-image: url("../Images/Orange\ Squiggle.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}

.navbar {
    background-color: #FF5607 !important;
  }

  .header {
    overflow: hidden;
  }

.navbar button {
    order: -1;
}

.navbar-toggler {
    background-color: #FFDAA5;
}

.offcanvas-header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
}

/* X button in nav bar */
.offcanvas-header button {
    order: -1;
    
}

.projects-container {
    height: 90vh;
}

.projects-container-2 h3 {
    text-align: center;
    margin-top: 20px;
    font-family: Libre Franklin;
    font-weight: 700;
    color: #977BE6;
}

.projects-container-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
    height: 90vh;
}

.skills-text {
    z-index: 1;
    font-family: Bitter;
    font-weight: 600;
    font-size: 60px;
    color: #FF5607;
    text-align: center;
    padding: 7px;
    margin-top: 3%;
    margin-left: 635px;
    height: 80px;
    width: 250px;
}

.row {
    
}

.offcanvas-body {
    background-color:#FFDAA5 !important;
}

.offcanvas-header {
    background-color:#FFDAA5 !important;
}

.btn-close {
    font-size: 30px;
}

.nav-link {
    font-family: Libre Franklin;
    font-size: 40px;
    font-weight: 700;
    color: white;
}

.home-page-footer {
    padding-top: 40px;
    height: 80px;
    background-color: #ff5507b3;
    text-align: center;
}